body {
    max-width: 1080px;
    margin: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #ced7dd;
    table-layout: fixed;
}
tr {
    border-bottom: 1px solid #ddd;
    background-color: rgba(150, 212, 212, 0.2);
}
td {
    padding: 16px;
    text-align: center;
}
form{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
}